h1
{
    text-align: center;
}
body{
    background:green;
}


.men-bar
{
    
    background-color:cyan;
    display:flex;
    text-align: center;
    text-decoration: none;
    margin: 30px 30px 30px 30px;

}
    .men
    {
        text-align: right;
    }

.log
{
    background-color: blue;
    height:100%;
    width:5%;

}
.footer
{
background-color: darkcyan;
}
.container
{
    height: vh;
    background: black;
display: flex;
}
.paragra
{
    background-color:blue;
    text-align: center;
    margin-top: 0%;
    padding: auto;
    width: 30%;
    height: 50vh;
}
.card
{

    background:green;
    height: 30%;
    width:auto;
    padding: 10px 10px 10px 10px;
    margin:10px;
    text-align: center;
    display: flex;

}
.image
{background: url("./image2.png");
    height: 90%;
    width: 80%;
}
h2{
    font-size: 25px;

    height: 200vh;
    width:100%;
}
.card img
{
    height:150px ;
    width: 100px;
}
.bt-one{
    border: solid;
    display: block;
    width: 120px;
    height: 20px;
    background-color: cadetblue;
    margin: auto;
    text-align: center;
    padding-right: 20 px;

}
.button2{

    
    margin:auto;
    text-align: center;
}
.button
{
    display:flex;
    block-size: 20%;
}
.more
{
    background-color: grey;
    height: 40vh;
}
footer{
    width: auto;
    height: 5cm;
    background-color: blueviolet;
}
footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.words{
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}